MONGODB_URI=mongodb+srv://Dante:1985112aA.@cluster0.dr7thbm.mongodb.net/ecommerce?retryWrites=true&w=majority&appName=Cluster0

EMAIL_USER=dantesoriano30@gmail.com
EMAIL_PASS=hhgu inyr vrgq mokv

GITHUB_CLIENT_ID=Iv23li4OUCIT2M6fSVgF
GITHUB_CLIENT_SECRET=c36b2e36ccea716f1804811bfd3fa524397a069c
GITHUB_CALLBACK_URL=http://localhost:8080/api/sessions/githubcallback