<form action="/api/sessions/change-role/{{user._id}}" method="POST">
    <select name="role">
        <option value="premium">Hacer Premium</option>
        <option value="user">Hacer Usuario</option>
    </select>
    <button type="submit">Cambiar Rol</button>
</form>
