<h1>Detalles de la Compra</h1>
    <ul>
        {{#each cart.items}}
        <li>
            Producto: {{this.productId.name}} - Cantidad: {{this.quantity}} - Precio: {{this.productId.price}}
        </li>
        {{/each}}
    </ul>
    <h3>Total: {{ticket.amount}}</h3>
    <button id="payButton">Pagar</button>

    <script>
        document.getElementById('payButton').addEventListener('click', async () => {
            try {
                const response = await fetch(`/api/carts/${cart._id}/purchase`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    alert('Compra realizada con éxito. Se ha enviado un correo con los detalles.');
                    window.location.href = '/'; // Redirigir a la página principal
                } else {
                    alert('Error al realizar la compra.');
                }
            } catch (error) {
                console.error('Error al realizar la compra:', error);
                alert('Error al realizar la compra.');
            }
        });
    </script>